name = "cdl_tools_grip"
doc= """
This grip repository provides all of the tools required for the CDL hardware builds.
This includes cdl itself, verilator, and cross-compilers/assemblers/linkers for RISC-V.

There is one main configuration: 'all'. This downloads and installs all of the tools.
The tools are built in to TOOLS_DIR, which defaults to <cd>/tools.

Builds require autoconf (which pulls in automake autotools-dev on Ubuntu); bison; flex;
"""

default_config  = "all"
configs         = ["all", "test"]
base_repos      = []
stages          = ["temp", "temp2", "download", "configure","install"]
workflow        = "readonly"
logging         = "Yes"

[env]
TOOLS_DIR="@GRIP_ROOT_PATH@/tools"
PATH="@GRIP_ROOT_PATH@/grip:@TOOLS_DIR@/bin:@PATH@"

[config.test]
# repos = ["cdl", "verilator"]
# repos = ["verilator"]
repos = ["toolchains"]
doc = """
This is a test configuration for the use of the author only
"""

[config.all]
repos = ["grip", "cdl", "toolchains", "verilator"]
doc = """
This grip configuration provides the 'grip', 'cdl' and 'verilator' tools, plus Binutils, gcc and libc
compiled for RISC-V I32MC standalone (non-linux target)
"""


[repo.verilator]
url = "https://git.veripool.org/git/verilator"
branch = "stable"
path = "verilator"
doc = """
Verilator is a Verilog/SystemVerilog to C++ compiler. It is not currently used in the CDL hardware,
but it will be.
"""

[repo.verilator.configure]
exec = "unset VERILATOR_ROOT && autoconf && ./configure --prefix=@TOOLS_DIR@"

[repo.verilator.install]
requires = ["verilator.configure"]
exec = "make -j4 && make install"


[repo.grip]
url  = "https://github.com/atthecodeface/grip.git"
path = "grip"
doc = """
Grip is the git repository configuration management tool
"""


[repo.cdl]
url  = "https://github.com/atthecodeface/cdl.git"
branch = "grip"
path = "cdl"
env = {BUILD_DIR="@GRIP_ROOT_PATH@/build/cdl"}
configure.requires = ["verilator.install"]


[repo.toolchains]
url = "toolchain_building.git"
path = "toolchains"
doc = """
The repository is used here to build cross-compiler, linker and assembler for RISC-V32 Elf,
i.e. not a Linux-specific libc; this allows non-OS applications/tests to be built

"""
configure-riscv32-unknown-elf.satisfies="configure"
install-riscv32-unknown-elf.satisfies="install"
