name = "cdl_tools_grip"
doc= """
This grip repository provides all of the tools required for the CDL hardware builds.
This includes cdl itself, verilator, and cross-compilers/assemblers/linkers for RISC-V.

There is one main configuration: 'all'. This downloads and installs all of the tools.
The tools are built in to TOOLS_DIR, which defaults to <cd>/tools.

Builds require autoconf (which pulls in automake autotools-dev on Ubuntu); bison; flex;
"""

default_config  = "all"
configs         = ["all", "test"]
base_repos      = []
stages          = ["temp", "temp2", "download", "configure","install"]
workflow        = "readonly"
logging         = "Yes"

[env]
TOOLS_DIR="@GRIP_ROOT_PATH@/tools"
PATH="@GRIP_ROOT_PATH@/grip:@TOOLS_DIR@/bin:@PATH@"

[config.test]
# repos = ["cdl", "verilator"]
# repos = ["verilator"]
repos = ["toolchains"]
doc = """
This is a test configuration for the use of the author only
"""

[config.all]
repos = ["grip", "cdl", "verilator"]
doc = """
This grip configuration provides the 'grip', 'cdl' and 'verilator' tools, plus Binutils, gcc and libc
compiled for RISC-V I32MC standalone (non-linux target)
"""
[config.all.stage.download]
doc="""Download files, particularly for the GCC/binutils toolchain
This will download tarballs, unpack them, and then download more files as require by gcc prerequisites.
"""

[config.all.stage.configure]
doc="""Configures binutils and gcc for cross-compilation; gcc kinda requires binutils to be installed, so this actually build binutils too"""
requires=["verilator.configure"]

[config.all.stage.install]
doc="""Compile and build all the tools"""
requires=["verilator.install","cdl.install"]

[repo.verilator]
url = "https://git.veripool.org/git/verilator"
branch = "stable"
path = "verilator"
doc = """
Verilator is a Verilog/SystemVerilog to C++ compiler.
With the CDL toolchain it provides a faster single-threaded simulation mechanism than the CDL simulator, with less visibility on the signals in the simulation.
"""

[repo.verilator.configure]
exec = "unset VERILATOR_ROOT && autoconf && ./configure --prefix=@TOOLS_DIR@"

[repo.verilator.install]
requires = ["verilator.configure"]
exec = "make -j4 && make install"


[repo.grip]
url  = "https://github.com/atthecodeface/grip.git"
path = "grip"
doc = """
Grip is the git repository configuration management tool
"""


# CDL has a grip.toml file, so the stages are defined there
[repo.cdl]
url  = "https://github.com/atthecodeface/cdl.git"
branch = "grip"
path = "cdl"
env = {BUILD_DIR="@GRIP_ROOT_PATH@/build/cdl"}
configure.requires = ["verilator.install"]

[repo.toolchains]
url = "toolchain_building.git"
path = "toolchains"
doc = """
The repository is used here to build cross-compiler, linker and assembler for RISC-V32 Elf,
i.e. not a Linux-specific libc; this allows non-OS applications/tests to be built

"""
